<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/longin.css') }}" />
</head>
<body>
    <div id="outline_border">
        <div id="headline">
             车辆管理系统
        </div>
        <div id="icon">

        </div>
        <div id="list_box">
            <div id="identification"></div>
            <div id="password"></div>
            <div id="submit"></div>
            <div id="bottom">
                <div id="loss_password">忘记密码</div>
                <div id="register">注册</div>
            </div>
        </div>
    </div>
</body>
</html>