<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script type="text/javascript" src=" {{ url_for('static',filename='js/js_sm2/lib/crypto-js.js') }} "></script>
    <script type="text/javascript" src=" {{ url_for('static',filename='js/js_sm2/sm2.js') }} "></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div>
    <form id="form_register" method="post" onsubmit="return getinfo()">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }} <br>
        {% for message in form.username.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.password.label }} {{ form.password }} <br>
        {% for message in form.password.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.password1.label }} {{ form.password1 }} <br>
        {% for message in form.password1.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.name.label }} {{ form.name }} <br>
        {% for message in form.name.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.department.label }} {{ form.department }} <br>
        {% for message in form.department.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.drivingLicence_number.label }} {{ form.drivingLicence_number }} <br>
        {% for message in form.drivingLicence_number.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.phone_number.label }} {{ form.phone_number }} <br>
        {% for message in form.phone_number.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.recaptcha }}
        {{ form.submit }}
        <input name="input2" type="button" value="取消" onclick="javascript:this.form.reset();" />
        <input name="input3" type="button" value="test" onclick="getinfo()"/>
    </form>
</div>
<script>
    function getCookie(name) {
        var strcookie = document.cookie;
        var arrcookie = strcookie.split(";");
        for (var i = 0; i < arrcookie.length; i++) {
            var arr = arrcookie[i].split("=");
            if (arr[0] == name) {
                return arr[1];
            }
        }
        return "";
    }

    function encrypt_js(data){
        if (data == ""){
            return "";
        }
        else{
            var pubkey = getCookie("psw_sm");
            var encryptData = sm2Encrypt(data,pubkey,0);
            return encryptData;
        }
    }

    function ajaxform(object_content){
        var xhttp = new XMLHttpRequest();
        xhttp.open('POST','/register',true);
        xhttp.setRequestHeader("Content-Type","application/json;charset=UTF-8");
        xhttp.send(JSON.stringify(object_content));
    }

    function getinfo(){
        var form_register = document.getElementById('form_register');
        const map_content = new Map();
        let object_content = new Object();
        for (i = 1;i < form_register.length - 2; i++){
            var nn = encrypt_js(form_register.elements[i].value);
            var encryptData = encrypt_js(nn);
            map_content.set(form_register.elements[i].name,encryptData);
            object_content[form_register.elements[i].name] = encryptData;
        }
        console.log(map_content);
        console.log(object_content);
        ajaxform(object_content);
        return false;
    }
</script>
</body>
</html>